@font-face {
  font-family: 'Playwrite';
  src: url('assets/fonts/playwrite-degrund.woff') format('woff'),
       url('assets/fonts/playwrite-degrund.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Playwrite', serif;
  /* display: flex; */
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: black;
  color: #fff;
  border: 1px solid #ccc;
}
.cell-active {
  background-color: #fff;
}
.cell-cross {
  background-color: red;
}


.top__container {
  display: flex;
  background-color: #ccc;
  width: 100%;
  height: 50px;
}
.show-results__button {
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: aquamarine;
  padding: 10px 15px;

  cursor: pointer;

}
.toggle-sound__button {
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: yellow;
  padding: 10px 15px;

  cursor: pointer;
}
.toggle-sound__button--active {
  background-color: pink;
}
.toggle-theme__button {
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: aquamarine;
  padding: 10px 15px;

  cursor: pointer;
}

.toggle-theme__button--active {
  background-color: crimson;
}







.main__container {
  display: flex;
}


.game__container {
  display: grid;
  grid-template-areas: "empty top-panel""left-panel matrix";
}
.matrix__container {
  grid-area: matrix;
  width: fit-content;
}
.matrix__row {
  display: flex;
}
.count-cells__left-container {
  grid-area: left-panel;

  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: red;
}
.count-cells__top-container {
  grid-area: top-panel;

  display: flex;
  align-items: end;
  background-color: goldenrod;
}
.count-cells__left-row {
  display: flex;
}
.count-cells__top-column {

}
.count__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: green;
  color: #fff;
  border: 1px solid #ccc;
}
.bold-line {
  border-top: 3px solid #fff;
}
.bold-line__left{
  border-left: 3px solid #fff;
}
.bold-line__left--top {
  border-left: 2px solid #fff;
}


.left__container {
  min-width: 300px;
  min-height: 300px;
  background-color: aqua;
}

.difficult__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px;
  gap: 5px;

  
  background-color: red;    
}
.difficult__button {
  padding: 5px 18px;
  background-color: #ccc;
  cursor: pointer;
}
.difficult__button--active {
  background-color: cornflowerblue;
}
.template__container {
  /* min-width: 300px;
  min-height: 300px;
  background-color: aqua; */
}
.template__container-headline {
  color: #fff;
  background-color: #000;

}
.template__item {
  background-color: antiquewhite;
  text-transform: capitalize;
}
.template__item--active {
  background-color: blueviolet;
  color: #fff;
  font-weight: bold;
}



.right__container {
  width: 200px;
  height: 200px;
  background-color: brown;
}

.solution__button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: chartreuse;
  padding: 10px 15px;

  cursor: pointer;

}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: chocolate;
  padding: 10px 15px;
}
.reset__button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: hotpink;
  padding: 10px 15px;

  cursor: pointer;
}
.reset__button-active {
  background-color: sandybrown;
}
.random__button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: darkcyan;
  padding: 10px 15px;

  cursor: pointer;
}
.save__button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: lightgreen;
  padding: 10px 15px;

  cursor: pointer;
}
.load__button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: navy;
  padding: 10px 15px;

  cursor: pointer;
}



.popup__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup__content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  text-align: center;
  position: relative;
}

.popup__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #ccc;
}

.popup__close-button:hover {
  color: #000;
}

.popup__title {
  text-align: left;
  margin: 5px 0px 0px 5px;
  font-size: 20px;
  font-weight: bold;
}
.popup__message {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: justify;
}

.popup__time {
  font-size: 16px;
  margin-bottom: 20px;
}

.popup__ok-button {
  align-self: flex-end;
  max-width: 100px;
  background-color: green;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.popup__ok-button:hover {
  background-color: yellow;
}



.popup__buttons {
  display: flex;
  gap: 10px;
  justify-content: end;
}
.popup__cancel-button {
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


.popup__results-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.popup__results-table th, .popup__results-table td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

.popup__results-table th {
  background-color: #fff;
  font-weight: bold;
}


