body {
  /* display: flex; */
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: black;
  color: #fff;
  border: 1px solid #ccc;
}




.game__container {
  display: grid;
  grid-template-areas: "empty top-panel""left-panel matrix";
}
.matrix__container {
  grid-area: matrix;
}
.matrix__row {
  display: flex;
}
.left-panel__container {
  grid-area: left-panel;

  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: red;
}
.top-panel__container {
  grid-area: top-panel;

  display: flex;
  align-items: end;
  background-color: goldenrod;
}
.left-panel__row {
  display: flex;
}
.top-panel__column {
  
}
.panel__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: green;
  color: #fff;
  border: 1px solid #ccc;
}