body {
  /* display: flex; */
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: black;
  color: #fff;
  border: 1px solid #ccc;
}
.cell-active {
  background-color: #fff;
}
.cell-cross {
  background-color: red;
}



.main__container {
  display: flex;
}


.game__container {
  display: grid;
  grid-template-areas: "empty top-panel""left-panel matrix";
}
.matrix__container {
  grid-area: matrix;
  width: fit-content;
}
.matrix__row {
  display: flex;
}
.count-cells__left-container {
  grid-area: left-panel;

  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: red;
}
.count-cells__top-container {
  grid-area: top-panel;

  display: flex;
  align-items: end;
  background-color: goldenrod;
}
.count-cells__left-row {
  display: flex;
}
.count-cells__top-column {

}
.count__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: green;
  color: #fff;
  border: 1px solid #ccc;
}



.left__container {
  min-width: 300px;
  min-height: 300px;
  background-color: aqua;
}

.difficult__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px;

  
  background-color: red;    
}
.difficult__button {
  padding: 5px 18px;
  background-color: #ccc;
  cursor: pointer;
}
.difficult__button--active {
  background-color: cornflowerblue;
}
.template__container {
  /* min-width: 300px;
  min-height: 300px;
  background-color: aqua; */
}
.template__container-headline {
  color: #fff;
  background-color: #000;

}
.template__item {
  background-color: antiquewhite;
  text-transform: capitalize;
}
.template__item--active {
  background-color: blueviolet;
  color: #fff;
  font-weight: bold;
}



.right__container {
  width: 200px;
  height: 200px;
  background-color: brown;
}

.solution__button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: chartreuse;
  padding: 10px 15px;

  cursor: pointer;

}






.popup__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup__content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  position: relative;
}

.popup__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #ccc;
}

.popup__close-button:hover {
  color: #000;
}

.popup__message {
  font-size: 18px;
  margin-bottom: 10px;
}

.popup__time {
  font-size: 16px;
  margin-bottom: 20px;
}

.popup__ok-button {
  background-color: green;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.popup__ok-button:hover {
  background-color: yellow;
}